/* media queries */

@media (max-width: 430px) {
  .calculator-container .screen {
    padding: 20px 80px;
    margin: 10px 0px;
  }

  .buttons button {
    width: 60px;
    height: 60px;
  }
  .buttons .long-btns {
    width: 130px;
    height: 75px;
  }
}

@media (max-width: 375px) {
  .calculator-container .screen {
    padding: 20px 100px;
    margin: 10px 0px;
  }

  .buttons {
    padding: 0px;
  }

  .buttons button {
    font-size: 18px;
    width: 55px;
    height: 55px;
  }
  .buttons .long-btns {
    width: 120px;
    height: 70px;
  }
}
